<#@ template language="C#" #>
import { createHttp, bootstrapOptions } from 'mkh-ui'
import mod from 'virtual:mkh-mod-<#= _model.Module.Code.ToLower() #>?base'

export default createHttp(bootstrapOptions, mod.code)
