<#@ template language="C#" #>
import { configure } from 'mkh-ui'
import './index'

configure({
  http: {
    global: {
      baseURL: import.meta.env.MKH_API_URL,
    },
  },
  beforeMount({ config }) {
    config.component.login = 'k'
    config.site.title = '<#= _model.Module.Name #>'
  },
})
