<#@ template language="C#" #>
import { useI18n as usei18n } from 'vue-i18n'
import { Locale, MkhMessagesSchema } from 'mkh-ui'
import { <#= _model.Module.Code #>MessagesSchema } from '@/locales/lang/zh-cn/index'

const useI18n = () => {
  return usei18n<
    {
      message: {
        mkh: MkhMessagesSchema
        mod: {
          admin: <#= _model.Module.Code #>MessagesSchema
        }
      }
    },
    Locale
  >()
}

export { useI18n }
